.gridMainContainer{
    display: grid;
    grid-template-columns: 40% auto 40%;
}

.gridItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

/* Logo */
.logo {
    width: 14vw;
    height: 10vw;
    transition: 0.3s ease-in-out;
    padding-top: 15%;
}

.maskLogo {
    position: absolute;
}
/* --------- */

/* globe and languages */
.globe{
    position: absolute;
    display: flex;
    align-items: center;
}

.globeImage {
    width: 2.8vw;
    height: 2.8vw;
    transition: .3s ease-in-out;
}

.globeImage:hover {
    scale: 1.1;
    cursor: pointer;
}

.languagesContainer {
    display: flex;
    padding: 0.2vw;
    border-radius: 7%;
    height: 2vw;
}

.flagContainer {
    display: flex;
    justify-content: center;
    width: 3vw;
}

.flag {
    width: 1.5vw;
    height: 1.5vw;
    transition: .3s ease-in-out;
}

.flag:hover {
    scale: 1.2;
}
/* ------------- */

