.mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
}

.contactContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contentContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    border-radius: 1%;
}

.mapContainer {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.iframe {
    width: 80%;
    height: 32vw;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 1%;
}

@media only screen and (max-width: 880px) {
    .mainContainer {
        padding-top: 80px;
    }
    .contentContainer {
        display: flex;
        flex-direction: column;
        gap: 10%;
        padding: 10%;
    }
}
